@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600&display=swap');

body {
    background: url(images/Wedding\ invitation\ card\ background\ .jpg); 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.invitation { 
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.invitation p{
    color: #d4a017;
    font-weight: 600;
    font-size: 20px;
}

.ganesha {
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    color: #d4a017;
}

h2 {
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-style: normal;    
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.baby-name {
    font-size: 28px;
    color: #d4a017;
    font-weight: bold;
}

.event-details p {
    font-size: 18px;
    color:olivedrab;
    font-weight: bold;
}

.footer  p{
    font-style: italic;
    color:#d4a017;
}

.family p {
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    color: #d4a017;
    font-family:Georgia, 'Times New Roman', Times, serif;
}